<div class="categories-box categoriesbox">
  <!-- Categories Box -->
  <ul class="categories-list list">
    <li class="categories-item item -uniformes">
      <a href="/uniformes" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/uniformes.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Uniformes"
        >
        <span class="text">Uniformes</span>
      </a>
    </li>
    <li class="categories-item item -materiais">
      <a href="/materiais" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/materiais.png'); ?>"
          class="img"
          width="172" 
          height="172"
          alt="Materiais"
        >
        <span class="text">Materiais</span>
      </a>
    </li>
    <li class="categories-item item -ebooks">
      <a href="/ebooks" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/ebooks.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="E-books"
        >
        <span class="text">E-books</span>
      </a>
    </li>
    <li class="categories-item item -volta-as-aulas">
      <a href="/volta-as-aulas" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/volta-as-aulas.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Volta as Aulas"
        >
        <span class="text">Volta as Aulas</span>
      </a>
    </li>
    <li class="categories-item item -slm">
      <a href="/slm" class="categories-link link">
        <img  is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/slm.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="SLM"
        >
        <span class="text">SLM</span>
      </a>
    </li>
    <li class="categories-item item -marketplace">
      <a href="/marketplace" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/marketplace.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Marketplace"
        >
        <span class="text">Marketplace</span>
      </a>
    </li>
  </ul>
</div>