<div class="grid-banner gridbanner">
  <!-- Categories Box -->
  <ul class="banner-list list">
    <li class="banner-item item -livros-internacionais">
      <a href="/livros-internacionais" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/livros-internacionais.png'); ?>"
          class="img"
          width="430" 
          height="269" 
          alt="Livros Internacionais"
        >
        <span class="text">Livros Internacionais</span>
      </a>
    </li>
    <li class="banner-item item -cultura">
      <a href="/cultura" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/cultura.png'); ?>"
          class="img"
          width="172" 
          height="172"
          alt="Cultura"
        >
        <span class="text">Cultura</span>
      </a>
    </li>
    <li class="banner-item item -atividades">
      <a href="/atividades" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/atividades.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Atividades"
        >
        <span class="text">Atividades</span>
      </a>
    </li>
    <li class="banner-item item -uniformes">
      <a href="/uniformes" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/uniformes2.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Uniformes"
        >
        <span class="text">Uniformes</span>
      </a>
    </li>
  </ul>
</div>