<div class="headerinfo-item item myaccount">
    <div class="myaccount-container myaccount">
        <div class="myaccount-header header">
            <a class="myaccount-link link" href="/customer/account/" title="Go to my account">
            <svg class="ico"><use xlink:href="#user"></use></svg>
            <span class="text">Minha Conta</span>
            </a>
        </div>
    </div>
</div>