.minicart-wrapper {
  order: 5;
  margin-left: 12px;
  @media (max-width: 768px) {
    margin-left: 5px;
    display: inline-block;
    float: right;
    margin-top: 4px;
  }
  &::before {
    display: none !important;
  }
  .mage-dropdown-dialog {
    display: none !important;
  }

  .action.showcart {
    position: relative;
    padding: 10px 5px;
    display: block;
    line-height: 1rem;

    &::before {
      display: none !important;
    }
    .ico {
      width: 24px;
      height: 21px;
      fill: var(--midtone);
    }
    .text {
      display: none;
    }
    .counter.qty {
      position: absolute;
      right: 1px;
      top: 5px;
      min-width: 13px;
      height: 13px;
      background: var(--darkness);
      border-radius: 100%;
      color: var(--brightness);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-weight: bold;
    }
    .counter-label {
      display: none;
    }
  }
}