
<script type="module">
  import LazyLoadable from 'https://cdn.pika.dev/lazy-loadable@^0.1.3/minified/';
  customElements.define('lazy-loadable', LazyLoadable, { extends: "img" });
</script>

<script>
function mycartClickHandler(e){
    e.preventDefault()
    console.log("ola");
    window.location.href="/checkout/cart";
  }

  /**
   * @class AccountLink
   * @extends HTMLAnchorElement
   */
  class MycartLink extends HTMLAnchorElement {
    constructor(){
      super()
    }

    /**
     * Creates the the reactive connection to be able to change link behaviour 
     * once the user is loggedin.
     */
    connectedCallback(){
      
      this.addEventListener('click', (e) => {
        accountClickHandler(e);
      })
    }
  }
  window.customElements.define('action-showcart', MycartLink, {extends: 'a'});

  /**
   * Define myaccount trigger
   */
  document.querySelector('.action.showcart').addEventListener('click', mycartClickHandler);
</script>