
/* TODO - sobrescrever o _listings */
/* Product Collection */
.block-products-list  {
  position: relative;
  margin-bottom: 1rem !important;
  
  ~ .block-products-list {
    padding-top: 55px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background: rgba(0,0,0,.1);
    }
  }
  .block-title {
    text-align: center;
    > strong {
      font-size: 20px;
      font-weight: var(--bold);
      color: var(--shadow);
    }
  }
}
.product-items {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  margin: 0 -.5rem 1rem;
}
.product-item-info {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: relative;
  height: 100%;
  padding: 1rem;
  @media (max-width: 992px) {
    padding-bottom: 70px !important;
  }
}
/* TODO - remover qdo sobrescrever o listings */
.products-grid .product-item-info:hover {
  background: initial;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 1rem;
  position: relative;
  z-index: initial;
}
/* TODO - remover qdo sobrescrever o listings */
.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
  border: 0;
  clip: initial;
  height: auto;
  margin: 0 !important;
  overflow: visible;
  padding: 0;
  position: initial;
  width: auto;
}
/* TODO - remover qdo sobrescrever o listings */
.products-grid .product-item-inner {
  background: #fff;
  box-shadow: none;
  border: 0;
  border-top: none;
  left: 0;
  margin: 0 !important;
  padding: 0;
  position: initial;
  right: 0;
  z-index: 0;
}
/* TODO - remover qdo sobrescrever o listings */
.products-grid .product-item-actions {
  margin: 0;
}


.block.widget .products-grid .product-item {
  min-width: 170px;
  flex: 0 1 25%;
  padding: 2px .5rem 1rem;
  margin: 0 !important;
  width: auto !important;
  @media (max-width: 768px) {
    flex: 0 1 50%;
  }
  @media (max-width: 400px) {
    flex: 1 1 100%;
  }
}

.product-item-photo {
  flex: 1 1 100%;
  text-align: center;
  max-width: 100%;
}

.product-item-details {
  flex: 1 1 100%;
}

.product-item-name {
  margin: 0 0 10px;

  > a {
    font-size: 14px;
    font-weight: var(--medium);
    color: var(--darkness);
  }
}

@media (min-width: 1024px), print {
  .page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 2%;
    width: calc((100% - 8%)/4);
  }
}

.product-item-info {
  &:hover {
    .tocart{
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
      visibility: visible;
      @media (max-width: 992px) {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
.product-item {
  .tocart {
    height: 60px;
    border-radius: 60px;
    font-size: 16px;
    font-weight: var(--regular);
    text-transform: uppercase;
    color: var(--brightness);
    letter-spacing: 4px;
    width: calc(100% - 2rem);
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -40%, 0);
    opacity: 0;
    visibility: hidden;
    transition: 200ms var(--cubic);
    @media (max-width: 992px) {
      top: auto;
      bottom: 0;
      left: 1rem;
      z-index: 1;
      width: calc(100% - 2rem);
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
  }
}
.product-item-actions {
  .actions-primary {
    width: 100%;
  }
  .actions-secondary {
    display: none !important;
  }
}

@media (min-width: 640px) {
  .page-products .product-item-actions {
    position: static;
  }
}


.page-products  {
  .product-item-info{
    width: auto;
  }
  
  .products-grid .product-item {
    min-width: 170px;
    flex: 0 1 33.3%;
    padding: 2px .5rem 1rem;
    margin: 0 !important;
    width: auto !important;
    @media (max-width: 768px) {
      flex: 0 1 50%;
    }
    @media (max-width: 400px) {
      flex: 1 1 100%;
    }
  }
}

/*
* Component - Price Box
*/
.product-item .price-box{
  margin: 0;
  line-height: 17px;
  display: flex;
  flex-flow: row wrap;
}

/*
* Component - Old Price
*/
.old-price,
.price-from {
  font-size: 12px;
  font-weight: var(--medium);
  color: var(--lightness);
  margin: 0 0 3px !important;
  display: block;
  flex: 1 1 100%;
  order: -1;

  .price-label {
    font-size: 12px;
    font-weight: var(--medium);
    color: var(--lightness) !important;
  }

  .price {
    text-decoration: none;
    font-size: 12px;
    font-weight: var(--medium);
    color: var(--lightness);
  }
}

/*
* Component - Special Price
*/
.special-price,
.normal-price,
.minimal-price,
.price-to {
  color: var(--darkness);
  margin-bottom: 4px;
  display: block;
  flex: 1 1 100%;

  .price-label {
    font-size: 17px !important;
    font-weight: var(--medium);
    color: var(--darkness);
    display: inline-block;
  }

  .price {
    font-size: 17px !important;
    font-weight: var(--medium) !important;
    color: var(--darkness);
    display: inline-block;
  }
}

/*
*  Component - In Cash Price
*/
.in_cash-price-box {
  font-size: 14px;
  font-weight: var(--medium);
  color: var(--lightness);
  margin-bottom: 3px;

  .price[data-price-amount] {
    color: var(--midtone);
  }

  .price {
    font-size: 14px;
    color: var(--midtone);
  }
}

/*
* Component - Installments - Preco com juros
*/
.installments-price-box {
  font-size: 14px;
  font-weight: var(--medium);
  color: var(--lightness);

  .price[data-price-amount] {
    color: var(--midtone);
  }

  .price {
    font-size: 14px;
    color: var(--midtone);
  }
}

/*
* Component - Installments without interest - Preco sem juros
*/
.installments_without_interest-price-box {
  font-size: 14px;
  font-weight: var(--medium);
  color: var(--lightness);

  .price[data-price-amount] {
    color: var(--midtone);
  }

  .price {
    font-size: 14px;
    color: var(--midtone);
  }
}


/* TODO - Move to Toolbar */
/* Toolbar */
.toolbar-products {
  > .modes,
  > .toolbar-amount,
  .sort-asc,
  .limiter {
    display: none !important;
  }
  .sorter {
    .sorter-label {
      font-size: 14px;
      font-weight: var(--bold);
      color: var(--shadow);
    }
    .sorter-options {
      margin-left: 23px;
      height: 57px;
      border-radius: 57px;
      border: 0;
      width: 222px;
      padding: 0 26px;
    }
  }
  .pages {
    strong.page {
      padding: 0 10px;
      background: var(--midtone);
      color: var(--brightness);
      border-radius: 3px;
    }
    a.page,
    a.page:visited {
      color: var(--shadow);
      padding: 0 10px;
      border-radius: 3px;
      &:hover {
        background: var(--backgrounds);
      }
    }
    .action {
      background: var(--midtone);
      color: var(--brightness);
      border-radius: 3px;
      border: 0;
      padding: 0 5px;

      &:hover {
        background: var(--cta-hover);
      }

      &:before,
      &:visited:before {
        color: var(--brightness) !important;
      }
    }
  }
}

/* Imagem da Pagina de Categorias */
.category-image {
  margin-bottom: -12px;
  .image {
    display: block;
    height: auto;
    max-width: 100vw;
    width: 100vw;
  }
}

/* Pagina de Produtos */
.product-info-main {
  .page-title-wrapper {
    h1 {
      font-size: 20px;
      color: var(--midtone);
      font-weight: var(00bold);
    }
  }
}
.product-info-main {
  .product-info-price {
    .price-box {
      margin: 0;
      line-height: 17px;
      display: flex;
      flex-flow: row wrap;
      width: auto;
      padding: 0;
      .price-container > span {
        display: inline-block;
        margin: 0;
      }
    }
    
    .old-price {
      .price-label,
      .price-wrapper .price {
        font-size: 15px;
        font-weight: var(--medium);
        color: var(--lightness);
      }
    }
    .special-price,
    .normal-price,
    .minimal-price,
    .price-to {
      .price-label {
        display: inline-block;
        margin: 0;
        font-size: 20px !important;
      }
    
      .price {
        display: inline-block;
        margin: 0;
        line-height: 20px;
        font-size: 20px !important;
      }
    }

    .in_cash-price-box {
      font-size: 17px;
      font-weight: var(--medium);
      color: var(--lightness);
      margin-bottom: 3px;
    
      .price[data-price-amount] {
        color: var(--midtone);
      }
      
      .price {
        font-size: 17px;
        color: var(--midtone);
      }
    }

    .installments-price-box,
    .installments_without_interest-price-box {
      font-size: 17px;
      font-weight: var(--medium);
      color: var(--lightness);
      margin-bottom: 3px;
    
      .price[data-price-amount] {
        color: var(--midtone);
      }
      
      .price {
        font-size: 17px;
        color: var(--midtone);
      }
    }
    
  }
}

.box-tocart {
  position: relative;
  max-width: 318px;

  .action.tocart {
    width: 100%;
    height: 60px;
    border-radius: 65px;
    padding: 6px 16px 6px 74px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--brightness);
    font-weight: var(--regular);
    letter-spacing: 4px;
  }

  .qty {
    position: absolute;
    top: 3px;
    left: 5px;

    .label {
      display: none;
    }

    .input-text {
      height: 48px;
      width: 65px;
      border-radius: 65px;
      border: 0;
      font-size: 16px;
      color: var(--highlight);
      font-weight: var(--regular);
    }
  }
}