.share-links {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 6px 0;

  > .title {
    font-size: 12px;
    font-weight: var(--bold);
    color: var(--lightness);
    letter-spacing: 0.6px;
    margin: 0 4px 4px 0;

  }
}

.share-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;

  > .item {
    margin: 0 2px 4px;
  }
}

.share-link {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  transition: 200ms var(--cubic);

  &:hover {
    transform: translateY(-3px);
  }

  > .ico {
    width: 12px;
    height: 12px;
    fill: #ffffff;
  }
}