/* Footer */
.page-footer {
  background: transparent;
  position: relative;
  margin: 0;
  padding-top: 158px;
  padding-bottom: 0 !important;
  overflow: hidden;

  @media (max-width: 768px) {
    padding-top: 108px;
    background: transparent;
  }

  &::before {
    content: "";
    background: #ffffff;
    width: 108vw;
    height: 277px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -61%, 0);
    border-radius: 100%;

    @media (max-width: 768px) {
      width: 108vw;
      height: 177px;
      transform: translate3d(-50%, -64%, 0);
    }
  }

  &::after {
    content: "";
    background: var(--gradient-dark);
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
  }
}

.mymenu-item {
  line-height: 1rem;
  margin-bottom: 18px !important;

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
  
  > .link {
    font-size: 18px;
    color: var(--brightness);
    font-weight: var(--medium);
    display: block;
    text-align: left;

    @media (max-width: 568px) {
      font-size: 16px;
      text-align: center;
    }
  }
}

.footer-box {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 100%;
  }
}

.footer-row.-four {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr .9fr 1.8fr;
  grid-template-rows: 1fr 1fr;
  @media (max-width: 992px) {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
  }
}

.footer-column {
  color: var(--brightness);
  margin-bottom: 22px;

  @media (max-width: 992px) {
    flex: 1 1 30%;
  }

  @media (max-width: 768px) {
    flex: 1 1 50%;
  }

  @media (max-width: 568px) {
    flex: 1 1 100%;
    text-align: center;
  }

  > .title {
    font-size: 22px;
    color: var(--brightness);
    font-weight: var(--bold);
    margin-bottom: 18px;
  }

  > .list {

    @media (max-width: 768px) {
      padding-right: 32px;
    }

    @media (max-width: 568px) {
      padding-right: 0;
    }
  }

  > .btn {
    margin-top: 6px;
    margin-left: 19px;
    margin-bottom: 5px;
  }

  &.pagto {
    > .img {
      padding: 20px 36px 12px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row wrap;
      border-radius: 130px;
      width: 100%;
      max-width: 385px;
      @media (max-width: 568px) {
        margin: 0 auto;
      }

      > img {
        margin: 0 8px 18px;
        height: 22px;
        width: auto;
      }
    }
  }

  &.seguranca {
    .link {
      img {
        @media (max-width: 568px) {
          margin: 0 auto;
        }
      }
    }
  }

  .social-list {
    padding: 0;
    margin: 0 -7px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    @media (max-width: 568px) {
      justify-content: center;
    }


    > .item {
      margin: 0 7px 14px;
    }
    .social-link {
      padding: 5px;
      height: 50px;
      width: 50px;
      background: linear-gradient(90deg, rgba(239,68,62,1) 0%, rgba(244,87,76,1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      > .ico {
        height: 32px;
        width: auto;
        fill: #ffffff;
      }
    }
  }
}

.footer-wrap {
  display: block;
}

/* Sobre a Maple berar */
.sobre-maplebear {
  padding-top: 34px;
  margin: 0 auto 48px;
  max-width: 1064px;
  text-align: center;

  > .title {
    font-size: 40px;
    font-weight: var(--bold);
    color: var(--brightness);
    margin-bottom: 35px;
  }

  > p {
    font-size: 18px;
    font-weight: var(--bold);
    color: var(--brightness);
    margin-bottom: 34px;
    line-height: 30px;
  }

  > .link {
    background: var(--gradient-light);
    font-size: 20px;
    font-weight: var(--regular);
    color: var(--brightness);
    letter-spacing: 8px;
    height: 92px;
    max-width: 430px;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px auto 0;
    border-radius: 99px;
  }
}


/* Siga no instagram */
.siga-instagram {
  display: block;
  position: relative;
  max-width: 318px;
  margin: 0 auto;
  padding: 24px 0;
  margin-bottom: 30px;
  text-align: center;

  > .ico {
    width: 102px;
    height: 102px;
    fill: rgba(255,255,255,.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  span {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--brightness);
  }
}

/* Box de Imagen do footer */
.box-img-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
  padding-left: 20px;

  @media (max-width: 992px) {
    padding-left: 0;
  }
  @media (max-width: 768px) {
    flex-flow: row wrap;
  }

  img {
    &:nth-child(1),
    &:nth-child(3) {
      z-index: 1;
      margin: 0 -20px;
      @media (max-width: 992px) {
        max-width: 143px;
        height: auto;
      }
      @media (max-width: 400px) {
        max-width: 130px;
        height: auto;
      }
    }
    &:nth-child(2),
    &:nth-child(4) {
      @media (max-width: 992px) {
        max-width: 172px;
        height: auto;
      }
      @media (max-width: 400px) {
        max-width: 144px;
        height: auto;
      }
    }
    &:nth-child(3) {
      @media (max-width: 568px) {
        order: 4;
        margin-top: -34px;
      }
    }
    &:nth-child(4) {
      @media (max-width: 768px) {
        margin-top: -18px;
      }
    }
  }
}

/* Logo footer */
.logo-footer {
  padding: 29px 36px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 130px;
  width: 100%;
  max-width: 478px;
  margin: 0 auto 46px;
  @media (max-width: 500px) {
    display: block;
    text-align: center;
    border-radius: 48px;
  }

  > .text {
    font-size: 15px;
    color: var(--darkness);
    max-width: 153px;
    padding-right: 12px;
    border-right: 1px solid rgba(0,0,0,.1);
    text-align: right;
    margin-right: 12px;
    @media (max-width: 500px) {
      max-width: 100%;
      padding-right: 0;
      border-right: 0;
      text-align: center;
      margin-right: 0;
      margin-bottom: 16px;
      display: block;
    }
  }
  img {
    @media (max-width: 500px) {
      margin: 0 auto;
    }
  }
}

/* Copyright */
.copyright {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 26px 0;
  text-align: center;

  > span {
    font-size: 11px;
    font-weight: var(--medium);
    color: var(--highlight);
    z-index: 0;
    max-width: 813px;
    display: block;
    margin: 0 auto;
    line-height: 16px;
  }

  &::before {
    content: "";
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
  }
}