.page-layout-seller-login {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--midtone);
    height: 101%;
    max-height: 100%;
}

.wk-mp-menu-wrapper:before {
    background-color: var(--midtone);
    position: fixed;
    width: 9rem;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 799;
}

.wk-mp-menu .level-0.active > a {
    background-color: var(--shadow);
}
