.block-search {
  flex: 1 1 auto;
  margin-left: 50px;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 10px;
  }

  .label:before {
    font-size: 30px;
    color: var(--midtone);
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  .control {
    padding: 0;
  }

  input {
    width: 100%;
    background: var(--backgrounds);
    height: 57px;
    border-radius: 50px;
    border: 0;
    padding: 0 9rem 0 2rem;
    font-size: 12px;
  }

  .nested {
    display: none;
  }
  
  .action.search {
    height: 57px;
    border-radius: 0 50px 50px 0;
    right: 0;
    padding: 6px 20px 6px 10px;

    &::before {
      display: none;
    }

    > span {
      clip: auto;
      height: auto;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: auto;
      font-size: 14px;
      font-weight: bold;
      color: var(--midtone)
    }
  }
}
